@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure the canvas background is visible behind content */
html, body, #root {
  height: 100%;
  background-color: #fff;
}

.bg-hero {
  background-image: url('/back.jpg');
  background-repeat: no-repeat;
  /* default (laptop/desktop) */
  background-position: right 0 bottom 2rem;
  background-size: contain;
}

/* mobile overrides */
@media (max-width: 767px) {
  .bg-hero {
    background-position: right 0 bottom 4rem;
  }
}

canvas { display: block; }
